#submit_video_button,
#generate_video_button {
    background: #FF822D !important;
    color: white !important;
    border: none !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;
}

#open_location_button,#open_video_location_button {
    max-width: 2.5em;
    min-width: 2.5em !important;
    height: 2.4em;
}

#open_video_location_button{
    align-self: flex-end;
}

#output_row {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}