#submit_video_button,
#generate_video_button {
    background: #FF822D !important;
    color: white !important;
    border: none !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;
}